body {
    background-color: #479b4a;
    text-align: center;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
}

button:hover {
    transform: scale(1.2);
}

.selection button {
    font-size: 10rem;
    transform: none;
}

.selection {
    height: 300px;
}

.player-input {
    margin-top: 40px;
}