@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap');

body {
    margin-top: 60px;
    background-color: #479b4a;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: #030503;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    color: #030503;
}

.small-icons:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.selection button {
    font-size: 10rem;
    transform: none;
}

.selection {
    height: 300px;
}

.player-input {
    margin-top: 40px;
}