@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 60px;
    background-color: #479b4a;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: #030503;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    color: #030503;
}

.small-icons button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.selection button {
    font-size: 160px;
    transform: none;
    text-align: center;
}

.icons-row {
    margin: 20px;
}

.icons-row button {
    font-size: 60px;

}

.win-results {
    margin-top: 50px;
}

@media (max-width: 576px) {
    body {
        margin-top: 20px;
    }

    .selection button {
        font-size: 120px;
    }

    .win-results {
        margin-top: 20px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }


}